.DS_Store
node_modules
/dist
coverage
.env
/public/preview-import-map.js

# local env files
.env.*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.vscode/settings.json
.ide-helper
sample.test.ts